*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.18em 0;
    align-items: center;

}

header img{
    width: 144px;
    height: 50px;
    margin-left: -120px;
}


nav ul li{
    display: inline;
    padding: 24px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}


/* Section 1 */
.container-2{

    background: linear-gradient(98.46deg, #1E6538 2.26%, #64F202 470.46%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 800px;
}

.container-2-headline{
    display: flex;
    flex-direction: column;
    width: 30%; 
}

.container-2-headline-title{

    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    color: #FCFFFC;
    font-size: 56px;
    margin-top: 100px;
}

.container-2-headline-subtitle{
    font-family: 'Montserrat', sans-serif;
    color: #FCFFFC;
    font-weight: 500;
    font-size: 16px;
    margin-top: 32px;
}


.container-2-headline-subtitle-btn{
    width: 290px;
    height: 80px;
    background-color: #069E2D;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-top: 42px;

}
.wave{
    margin-top: -300px;
}
/* Section 2 */


.container-3{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -20px;
    flex-wrap: nowrap;
    
}

.container-3-headline{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 150px;
    margin-top: 50px;
}


.container-3-headline-title{
    font-family: 'Libre Baskerville', serif;
    font-size: 42px;
    font-weight: 400;
    color: #236A36;
}

.container-3-headline-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-top: 24px;
    
}

.container-3-headline-subtitle-btn{
    width: 227px;
    height: 68px;
    background-color: #236A36;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FCFFFC;
    margin-top: 32px;
   
}

.container-3-image{
    width: 600px;
    margin-right: 200px;
    
}

/* Sessão 4*/

.container-4{
    background-color: #F9F6F5;
    height: 772px;
}

.container-4-row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.container-4-row1-block1{
    background-color: #FCFFFC;
    width: 356px;
    height: 233px;
    margin-top: 32px;
}
.container-4-row1-block2{
    background-color: #FCFFFC;
    width: 356px;
    height: 233px;
    margin-top: 32px;
}
.container-4-row1-block3{
    background-color: #FCFFFC;
    width: 356px;
    height: 233px;
    margin-top: 32px;
}

.container-4-row1-block1-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:12px;
    margin-top: 42px;
      
}

.container-4-row1-block2-item{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 12px;
   margin-top: 40px;
      
}

.container-4-row1-block2-item p{
    width: 80%;
    text-align: center;
}

.container-4-row1-block3-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:12px;
    margin-top: 42px;
      
}

.container-4-row1-block3-item p{
    width: 80%;
    text-align: center;
}





.img-block1{
    width: 56px;
}

.img-block2{
    width: 42px;
}
